*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .item {
    margin-left: 10px;
  }
  
  .link {
    font-size: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .title {
    margin-right: 10px;
    font-size: 20px;
    color: blue;
  }
  /* .content {
    flex-grow: 1;
  } */

  /* .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } */